<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Your page title</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      Hi, my name is {{name}} and the date is {{date}}
    </p>
    <p>
      This is a partial => {{>a_partial}}
    </p>
    <p>
      This is a helper => {{customHelper name}}
    </p>
    <p>
      <a href="/about">About page</a>
    </p>

  </body>
</html>
